* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: steelblue;
    --secondary-color: #f4a261;
    --accent1-color: #264653;
    --accent2-color: #e9c46a;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

header {
    background-color: var(--primary-color);
    color: var(--accent2-color);
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header,
main,
footer {
    max-width: 840px;
    margin: 0 auto;
    padding: 10px;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--secondary-color);
}

h2 {
    background-color: var(--primary-color);
    color: #fff;
    text-align: center;
    padding: 10px;
    margin: 20px 0;
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.socialmedia {
    display: flex;
    gap: 15px;
    margin-top: 10px;
    display: flex;
    gap: 10px;
}

.socialmedia img {
    width: 40px;
}

.hero {
    position: relative;
    width: 100%;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20px;
    left: 0;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
    font-family: var(--heading-font);
}

.hero article {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    background-color: var(--accent1-color);
    color: #fff;
    padding: 20px;
    display: flex;
    align-items: center;
}

.hero article p {
    flex: 1;
}

.hero article img {
    float: right;
    width: 125px;
    height: auto;
    margin-left: 15px;
    border: 1px solid white;
}

nav ul {
    list-style-type: disc;
    margin-left: 20px;
    display: flex;
    list-style: none;
    justify-content: space-evenly;
}

nav a {
    color: #fff;
}

footer {
    border-top: 1px solid #ccc;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.adventure-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.adventure-container figure {
    flex: 1;
    text-align: center;
}

.adventure-container img {
    width: 100%;
    height: auto;
    display: block;
}